<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect requests for assets to the public folder
    RewriteCond %{REQUEST_URI} ^/(css|js|img|fonts|vendor|storage|build) [NC]
    RewriteRule ^(.*)$ public/$1 [L]

    # Redirect all other requests to the root index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>